

<div class="container marketing">
<div class="container">
    <div class="row">
        <center><img class="img-circle" src="assets/img/about.jpg" alt="" width="20%"></center>
             <h1><p class="text-center">О себе</p></h1>
             <hr>
    </div>
    <div class="row">

        <h4><p class="text-center bg-primary">Основная информация</p></h4>
        <br>
        <blockquote>
            <h5><strong>ФИО</strong> : Цыркунов Даниил </h5>
            <hr>
            <h5><strong>Дата рождения</strong> : 08.05.1996</h5>
            <hr>
            <h5><strong>Местоположение</strong> : Минск, Беларусь</h5>
        </blockquote>

        <h4><p class="text-center bg-primary" >Профессиональные навыки</p></h4>
        <br>
        <blockquote>
            <h5><strong>Языки програмирования</strong> : Java, Go, Ruby, C++, C#, JavaScript </h5>
            <hr>
            <h5><strong>Сервисы</strong> : Git, Heroku</h5>
            <hr>
            <h5><strong>Опыт работы с языками</strong> : Java - 1.5 года, С++ - 0.5 года, остальное мение года </h5>
            <hr>
            <h5><strong>Дополнительно</strong> : Публикация и разработка под Android </h5>
            <hr>
            <h5><strong>Образование</strong> : Белорусский Государственный Университет Информатики и Радиоэлектроники (2013-2019) </h5>
        </blockquote>

        <h4><p class="text-center bg-primary" >Достижения</p></h4>
        <br>
        <blockquote>
            <h5>Диплом третей степени - Областной олимпиады по информатике(2013)</h5>
            <hr>
            <h5>Диплом третей степени - Олимпиады в сфере информационных технологий BitCup - 2014 (Разработка мобильных игр) (2014)</h5>
            <hr>
            <h5>Четвертьфиналист ACM ICPC (2013)</h5>
            <hr>
            <h5>Финалист Всероссийской Командной Олимпиады Школьников по Программированию (2012)</h5>
        </blockquote>
        
    </div>

</div>
</div>

