
  <div class="jumbotron">
      <h1>Алоха друг!</h1>
      <p class="lead">Здесь ты сможешь увидеть что я знаю и что изучаю в данный момент.</br>
          Узнаешь все события происходящие со мной.
          Сможешь посмотреть мои проекты.</br>
          Ну и конечно же присоединиться!
      </p>

  </div>



  <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img"  alt="140x140" src="img/git-cat.png" style="width: 140px; height: 140px;">
            <blockquote>
                <p>Совместный труд воспламеняет в людях такую ярость свершения, какой они редко могут достичь в одиночку. </p>
                <footer>Р. Эмерсон</footer>
            </blockquote>
          <p><a class="btn btn-default" href="https://github.com/blackazaru" role="button">Github »</a></p>
        </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img class="img"  alt="140x140" src="img/bird.png" style="width: 140px; height: 140px;">
              <blockquote>
                  <p>Начните доверять себе, и вы сразу поймёте, как надо жить.</p>
                  <footer>Иоганн Гёте</footer>
              </blockquote>
              <p><a class="btn btn-default" href="/blog" role="button">Blog »</a></p>
          </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img"  alt="140x140" src="img/dog.jpg" style="width: 140px; height: 140px;">
            <blockquote>
                <p>Найди работу, которая тебе нравится, - так ты добавишь пять дней к каждой неделе.</p>
                <footer>Джексон Браун</footer>
            </blockquote>
          <p><a class="btn btn-default" href="/projects" role="button">Projects »</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->


    

