<style></style><style type="text/css"></style><script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
<link href="assets/css/signin.css" rel="stylesheet">


<div class="container">
    <form class="form-signin" role="form" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input placeholder="Login" type="text" class="form-control" id="login" name="login" value=""  >
        <input placeholder="Password" type="password" class="form-control" id="password" name="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

