<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/carousel.css" rel="stylesheet">
<link href="../css/blog.css" rel="stylesheet">
<link href="../css/cover.css" rel="stylesheet">
<div>

    <div>
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <h1> {{ .Title }}</h1>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                {{ .ContentHtml | unescape }}
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>

</div>